################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeWith_EFCore/.vs/CodeWith_EFCore
