################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeWith_EFCore/.vs/CodeWith_EFCore
/CodeWith_EFCore/CodeWith_EFCore/bin/Debug/net8.0
/CodeWith_EFCore/.vs/ProjectEvaluation
